body {
    margin:0;
    background-color: black;
}

#screen {
    width: 800px;
    height: 800px;
    background-color:black;
    border: solid 1px white;

    color: white;
}

#background {
    width:100%;
    height:100px;
    background-color:black;
    position: relative;
    z-index:2;
}

#player {
    position: relative;
    display: inline-block;
    top: calc(100% - 64px);
    
}

.shot {
    display:inline-block;
    position: absolute;
    /*top: calc(100% - 64px)*/
}

.enemy {
    display: inline-block;
    position: absolute;
    z-index:1;
}

#score {
    position:absolute;
    top:30px;
    left:30px
}