html {
    background-color: black;
}

#screen {
    width: 800px;
    height: 800px;
    background-color:black;
    border: solid 1px white;

    color: white;
}

#player {
    position: relative;
    display: inline-block;
    top: calc(100% - 64px);
    
}

.shot {
    display:inline-block;
    position: absolute;
    /*top: calc(100% - 64px)*/
}

.enemy {
    display: inline-block;
    position: absolute;
}